name: Run Linter

on:
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python and Run Linting
        uses: ./.github/actions/setup-python-and-lint
